body {
  background-color: #ECE5DD;
  margin: 50px;
  font-family: Arial, Helvetica, Verdana, Futura, sans-serif;
}
/* Establezca el tamaño y el margen del contenedor principal */
#container {
    width: 100%;
    height: 100vh;
    margin: 3px;
    display: flex;
    font-size: 20px;
  }
  
  /* Establezca el tamaño y el margen del contenedor izquierdo */
  #left-container {
    width: 60%;
    height: 100%;
    margin: 1px;
  }
  
  /* Establezca el tamaño y el margen del contenedor derecho */
  #right-container {
    width: 40%;
    height: 100%;
    margin: 1px;
  }
  
  /* Establezca el tamaño y el margen de cada gráfico dentro del contenedor izquierdo */
  #bar-chart, #pie-chart, #line-chart {
    width: 100%;
    height: 33%;
    margin: 0;
  }
  
  /* Establezca el tamaño y el margen del mapa dentro del contenedor derecho */
  #map {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  @font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/RobotoSlab-Regular.ttf') format('truetype');
}
  .title {
    font-family: 'Roboto Slab', serif;
    background-color: #075E54;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: 42px;
    margin: 3px;
  }


